@model IEnumerable<Autosalon_OneZone.Models.Vozilo>
@{
    ViewData["Title"] = "Vozila";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<h1>Vozila</h1>

@* Show search info if search was performed *@
@if (!string.IsNullOrEmpty(ViewData["SearchTerm"] as string))
{
    <div class="alert alert-info">
        Rezultati pretrage za: <strong>@ViewData["SearchTerm"]</strong>
        
    </div>
}

@* Display results count *@
<p>Pronađeno @Model.Count() vozila</p>

@if (!Model.Any())
{
    <div class="alert alert-warning">
        Nema vozila koja odgovaraju vašoj pretrazi.
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var vozilo in Model)
        {
            <div class="col">
                <div class="card h-100">
                    @if (!string.IsNullOrEmpty(vozilo.Slika))
                    {
                        <img src="@vozilo.Slika" class="card-img-top" alt="@vozilo.Marka @vozilo.Model">
                    }
                    else
                    {
                        <img src="/img/no-image.png" class="card-img-top" alt="Nema slike">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@vozilo.Marka @vozilo.Model</h5>
                        <p class="card-text">
                            Godište: @vozilo.Godiste<br>
                            Gorivo: @vozilo.Gorivo<br>
                            Kilometraža: @vozilo.Kilometraza km<br>
                            Cijena: <strong>€@vozilo.Cijena.Value.ToString("N0")</strong>
                        </p>
                        <a href="@Url.Action("Details", "Vozila", new { id = vozilo.VoziloID })" class="btn btn-primary">Detalji</a>
                        <a href="@Url.Action("DodajUKorpu", "Korpa", new { id = vozilo.VoziloID })" class="btn btn-success">Dodaj u korpu</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
